{% extends 'layout.html' %}

{% block title %}View Loops{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>All Loops</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Owner</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for loop in loops %}
            <tr>
                <td>{{ loop.name }}</td>
                <td>{{ loop.owner.username }}</td>
                <td>{{ loop.description }}</td>
                <td>
                    <a href="/myapp/admin_delete_loop/{{loop.id}}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
