{% extends 'basic_layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2 class="text-center">Reset Password</h2>
            <form method="POST" action="/myapp/change_password/{{user.id}}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="newPasswordInput">New Password</label>
                    <input type="password" class="form-control" id="newPasswordInput" name="new_password" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
