{% extends "guest_layout.html" %}

{% block content %}
<div class="text-center mt-5">
    <div class="d-flex flex-column align-items-center">
        <a href="/myapp/create_backer_log" class="btn btn-primary btn-lg mb-4 d-flex align-items-center justify-content-center" style="width: 80%; max-width: 300px; height: 60px; font-size: 1.2rem; box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);">
            <span>✍️ Post</span>
        </a>
        <a href="/myapp/create_loop" class="btn btn-secondary btn-lg mb-4 d-flex align-items-center justify-content-center" style="width: 80%; max-width: 300px; height: 60px; font-size: 1.2rem; box-shadow: 0 4px 8px rgba(108, 117, 125, 0.2);">
            <span>🔄 Loop</span>
        </a>
        <a href="/myapp/feed" class="btn btn-info btn-lg mb-4 d-flex align-items-center justify-content-center" style="width: 80%; max-width: 300px; height: 60px; font-size: 1.2rem; box-shadow: 0 4px 8px rgba(23, 162, 184, 0.2);">
            <span>📜 Feed</span>
        </a>
        <a href="/myapp/loop_list" class="btn btn-warning btn-lg d-flex align-items-center justify-content-center" style="width: 80%; max-width: 300px; height: 60px; font-size: 1.2rem; box-shadow: 0 4px 8px rgba(255, 193, 7, 0.2);">
            <span>🔍 Join</span>
        </a>
        </br>
        <!-- 新增Explore按钮 -->
        <a href="/myapp/explore_locations" class="btn btn-success btn-lg d-flex align-items-center justify-content-center" style="width: 80%; max-width: 300px; height: 60px; font-size: 1.2rem; box-shadow: 0 4px 8px rgba(40, 167, 69, 0.2);">
            <span>🌍 Explore</span>
        </a>
        </br>

</a>

    </div>
</div>
{% endblock %}
