{% extends "guest_layout.html" %}

{% block title %}Bills I Created{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Bills I Created</h2>
    {% if created_bills %}
        <ul class="list-group">
            {% for bill in created_bills %}
            <li class="list-group-item">
                <h5>Bill Description: {{ bill.description }}</h5>
                <p>Amount: {{ bill.amount }} CNY</p>
                <p>Created At: {{ bill.created_at }}</p>
                <h6>Participants:</h6>
                <ul>
                    {% for participant in bill.bill_participants.all %}
                    <li>
                        {{ participant.user.username }} -
                        {% if participant.has_paid %}
                        <span class="badge bg-success">Paid</span>
                        {% else %}
                        <span class="badge bg-danger">Not Paid</span>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have not created any bills yet.</p>
    {% endif %}
</div>
{% endblock %}
